@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,600&display=swap');
body {
    margin: 0;
    font-family: 'Be Vietnam', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 600;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}